<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boosts Tracker - Welcome Page </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


<h1>Bienvenue sur Boosts Trackers!</h1>
<h2>Connectez-vous à votre espace afin d'accéder à votre liste de Boosts à traiter ce mois-ci :</h2>
<p><a href="/login"> Connexion</a></p>
<p><a href="/signup"> Inscription</a></p>


<script src='js/main.js'></script>
</body>
</html>